{% extends "base.html" %}

{% block title %}{{userinf[1]}}'s Sql{% endblock %}

{% block body %}
<div class="container">
  <div class="row">
	<div class="col-4 col-md-3">
	  <div id="userinf">
		<div id="userinf"><strong>Username:</strong> {{userinf[1]}}</div>
		<div id="passinf"><strong>Password:</strong> {{userinf[2]}}</div>
		<div style="text-align:right;"><a href="/logout" id="logout">Logout</a></div>
	  </div>
	  <hr>
	  <br>
	  <h4>SQL injectable login</h4>
	  <form action="/schkjuul" method="post" style="text-align:right;">
		<input type="text" style="width:100%" name="sql_user" placeholder="Username">
		<br>
		<br>
		<input type="text" style="width:100%" name="sql_pass" placeholder="Password">
		<br><br>
		<a href="/resetudb" class="btn btn-danger">Reset Database</a>
		<input type="submit" name="auth" class="btn btn-primary" value="Log In">
	  </form>
	</div>
	<div class="col-8 col-md-7">
	  <div>
		{% if sqltable != None %}
		<div style="text-align:center;"><h1><strong>Users</strong></h1></div>
		<table class="table" id="sqltable">
		  <tr><th>userid</th><th>user</th><th>pass</th></tr>
		  {% for i in sqltable %}
		  <tr>
			<td>{{i[0]}}</td>
			<td>{{i[1]}}</td>
			<td>{{i[2]}}</td>
		  </tr>
		  {% endfor %}
		</table>
		{% endif %}

	  </div>
	</div>
  </div>
</div>
<br><hr><br>
<div style="text-align:center;font-family:monospace;">
  <h4>Executed SQL query: <strong>'SELECT user FROM users WHERE user = "' + user + '" AND pass = "' + pwd + '";'</strong></h4>
</div>
<br>
<div style="text-align:center;font-family:monospace;">
      <p>Some inputs to try: </p>
      <p>";DROP TABLE users;--</p>
      <p>";UPDATE users SET pass = "123" WHERE user = "AzureLobster"--</p>
      <p>";INSERT INTO users("user","pass") VALUES ("AzureLobster","123")--</p> 
</div>
<script type="text/js" src="{{url_for('static',filename='notreally.js')}}"></script>
{% endblock %}
