{% extends "base.html" %}

{% block title %} Login {% endblock %}

{% block body %}
<style>
  h4{
  text-align:left;
  }
  .intxt{
  width:200px;
  }
</style>
<div class="container">
  <div class="row">
	<div class="col-2" style="text-align:center;">
		<button class="btn btn-info" id="registery">Register</button>
		<button class="btn btn-light" id="loginry">Login</button>
		<hr style="max-width:200px;">
	</div>
  </div>
  <div class="row" style="text-align:center;">
	<div class="col-2 center-block" style="text-align:right;max-width:200px">
		<div id="loggy">
		  <h4>Login:</h4><br>
		  <form action="/schkjuul" method="post">
			<input class="intxt" type="text"  name="user" placeholder="Username"><br><br>
			<input class="intxt" type="text"  name="pass" placeholder="Password"><br><br>
			<input type="submit" name="auth" value="Log In" class="btn btn-primary">
		  </form>
		</div>
	  </div>
	</div>
  </div>
<script src="{{url_for('static',filename='doesitmatter.js')}}"></script>
{% endblock %}
