<!DOCTYPE html>
<html>
  <head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<title>{% block title %}{% endblock %}</title>
  </head>
  <body>
	<div class="container">
	  <div class="row">
		<div class="col-10">
		  <br>
		  {% with messages = get_flashed_messages() %}
		  {% if messages %}
		  {% for message in messages %}
		  <div class="alert alert-{{'danger' if message[:7]!='Logged ' else 'success'}}" role="alert">{{ message }}</div>
		  {% endfor %}
		  {% endif %}
		  {% endwith %}
		  <br>
		  {% block body %}
		  {% endblock %}
		</div>
	  </div>
	</div>
  </body>
  <footer>
	<br><br>
	<hr>
	<div class="container">
	  <div class="row">
		<div class="col-10">
		  &copy; This website brought to you be the "When Mohammed Uddin eats he Mohammed Uddines" -- Besin presents: Sql (pronounced schkjuul) injection. gang.
		</div>
	  </div>
	</div>
</footer>
</html>
